# Handle line endings automatically for files detected as text
# and leave binary files untouched.
* text=auto

#
# The above will handle all files NOT found below.
#

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.cc text
*.cmake text
*.cpp text
*.dart text
*.gradle text
*.h text
*.html text
*.java text
*.js text
*.json text
*.md text
*.properties text
*.swift text
*.txt text
*.xml text
*.yaml text
*.yml text

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf